/* Import header and footer CSS */
@import 'header.css';
@import 'footer.css';
@import 'home.css';
@import 'about.css';
/* @import 'home_components/mobile-slider.css'; */
@import 'venues.css';

/* You can also add global styles here */
html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Playfair Display', serif;

    margin: 0;
    padding: 0;
}

/* Button */

/* Custom Gold Theme for Bootstrap Buttons */
.btn-gold {
    color: #D2AE3C;
    /* text color */
    background-color: transparent;
    /* transparent background */
    border: 2px solid #D2AE3C;
    /* gold border */
    border-radius: 50px;
    /* pill shape */
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: all 0.3s ease;
}

.btn-gold:hover {
    background-color: #D2AE3C;
    /* gold background on hover */
    color: #fff;
    /* white text on hover */
    box-shadow: 0 4px 12px rgba(210, 174, 60, 0.4);
    /* subtle glow */
}

:root {
    --mg-bg: #fbf9f4;
    --mg-text-color: #383838;
    --mg-heading-font: 'Playfair Display', serif;
    --mg-link-spacing: 0.5rem;
    --mg-fixed-padding: 20px;
    --logo-size-lg: 1.8rem;
    --logo-size-sm: 1.5rem;
    --family-size-lg: 0.6rem;
    --family-size-sm: 0.5rem;
    --logo-line-length: 20px;
    --font-serif: 'Times New Roman', Times, serif;
    --color-dark: #1a1a1a;
    --color-light: #f7f5f2;
    --color-border: #e8e6e3;
    --main-text-color: #000;
    --light-creamy-bg: #fff;
    --border-color: #000;
}

/* hover and after link  */
.mg-link {
    font-family: var(--mg-heading-font);
    font-size: 1.15rem;
    text-decoration: none;
    color: var(--mg-text-color);
    position: relative;
    transition: color 0.3s, opacity 0.3s;
}

.mg-link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    background-color: var(--mg-text-color);
    width: 0;
    transition: width 0.3s ease-in-out;
}

.mg-link:hover::after {
    width: 100%;
}
