.section-title {
    padding-top: 50px;
    letter-spacing: 2px;
    font-weight: 600;
    text-transform: uppercase; /* optional, if you want uppercase */
    margin-bottom: 1.5rem;     /* equivalent to Bootstrap mb-6 (~24px) */
}

.terraceCarousel::-webkit-scrollbar {
    display: none;
    scroll-behavior: smooth;
}


/* Container for other dining links */
.other-dining {
    display: flex;
    justify-content: center;
    gap: 2rem;               /* same as Bootstrap gap-5 */
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 600;
    padding-bottom: 50px;
}

/* Gold text links */
.text-gold {
    color: #D2AE3C; /* using your color variable */
    text-decoration: none;
    transition: color 0.3s ease;
}

.text-gold:hover {
    color: #fff; /* optional: lighter gold/white on hover */
}
