

.mg-footer {
    background-color: var(--mg-bg) !important;
    color: var(--mg-text-color) !important;
}
.mg-max-width {
    max-width: 2000px;
}
.mg-footer-title {
    font-family: var(--mg-heading-font);
    font-size: 1.6rem;
    font-weight: 400;
}
.mg-footer-text {
    font-size: 0.9rem;
}

.mg-input {
    border-radius: 0 !important;
    border: 1px solid var(--mg-text-color) !important;
    padding: 0.8rem 1rem;
    background-color: var(--mg-bg) !important;
    color: var(--mg-text-color) !important;
    box-shadow: none !important;
    font-size: 0.9rem;
    height: auto;
}
.mg-input-group .mg-input[type="email"] {
    border-right: none !important;
}
.mg-btn {
    background-color: var(--mg-bg) !important;
    border: 1px solid var(--mg-text-color) !important;
    border-left: none !important;
    border-radius: 0 !important;
    color: var(--mg-text-color) !important;
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mg-css-select {
    position: relative;
}
.mg-css-select-toggle {
    padding-right: 60px !important;
    z-index: 2000;
}
.mg-css-select-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    opacity: 0;
    visibility: hidden;
    max-height: 0;
    overflow: hidden;
    transition: all 0.2s ease-in-out; 
    border: 1px solid var(--mg-text-color);
    background-color: var(--mg-bg);
    margin-top: -1px;
    list-style: none;
    padding: 0;
}
.mg-css-select:hover .mg-css-select-menu {
    opacity: 1;
    visibility: visible;
    max-height: 500px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.mg-css-select-menu li a {
    display: block;
    padding: 0.5rem 1rem;
    color: var(--mg-text-color);
    text-decoration: none;
    font-size: 0.9rem;
    white-space: nowrap;
}
.mg-css-select-menu li a:hover {
    background-color: #e5e5e5 !important;
}
.mg-chevron {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 10;
    background-color: var(--mg-bg);
    border: 1px solid var(--mg-text-color);
    border-left: 1px solid var(--mg-text-color) !important;
    border-radius: 0;
    color: var(--mg-text-color);
    width: 50px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.mg-links li {
    margin-bottom: var(--mg-link-spacing);
}
.mg-copyright-text {
    font-size: 0.85rem;
}
.mg-privacy {
    text-decoration: none;
    color: var(--mg-text-color);
    border-bottom: 1px solid var(--mg-text-color);
    font-size: 0.85rem;
}
@media (max-width: 1200px) {
    .mg-footer-top .col-lg-4:nth-child(3) {
        display: none !important;
    }
    .mg-copyright-section {
        flex-direction: column;
        align-items: center !important;
    }
    .mg-copyright-section .mg-privacy {
        order: 1;
        margin-bottom: 1rem;
        font-size: 1rem;
    }
    .container-fluid-footer{
        /* background: #000; */
        padding: 0 2.5rem !important;
    }
}
@media (max-width: 400px) {
    .mg-footer-top .col-lg-4:nth-child(3) {
        display: none !important;
    }
    .mg-copyright-section {
        flex-direction: column;
        align-items: center !important;
    }
    .mg-copyright-section .mg-privacy {
        order: 1;
        margin-bottom: 1rem;
        font-size: 1rem;
    }
}
.mg-subscribe-btn{
    padding: 16px;
}
.mg-social-link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
  background-color: #222;
  color: #fff;
  border-radius: 50%;
  transition: all 0.3s ease;
  text-decoration: none;
}

.mg-social-link:hover {
  background-color: gray;
  color: #fff;
  transform: translateY(-3px);
}

.mg-social-link i {
  font-size: 1.2rem;
}
